@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');
// Fuentes
$fontHeading: 'Space Mono', monospace;
$fontBody: 'Lexend Deca', sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$tablet-xl: 992px;
$desktop: 1200px;
$desktop-xl: 1400px;

// Colores
$yellow: #fcb72b;
$darkNavy: #495567;
$dimGray: #939CAA;
$lightGrey: #E5ECF4;
$snow: #F2F5F9;
$lightYellow: #FFF4DF;
$white: #fff;
$black: #000;
