@use 'base/variables' as v;
@use 'base/mixins' as m;

.faq {
    margin-bottom: 12rem;

    @include m.desktop { 
        margin-bottom: 16rem;
    }

    &__heading {
        text-align: center;
        margin-bottom: 4.8rem;

        @include m.tablet { 
            margin-bottom: 6.4rem;
        }
    }
}

.acordion {
    @include m.grid(1, 4.8rem);
    padding-inline: 3.2rem;

    @include m.tablet { 
        gap: 6.4rem;
        padding-inline: 3.9rem;   
    }

    @include m.desktop { 
        padding: 0;
    }

    &__grid {
        @include m.desktop { 
            display: grid;
            grid-template-columns: auto 73rem;
            gap: 3rem;   
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 3.2rem;

        @include m.desktop { 
            margin: 0;
            text-align: left;
        }
    }

    &__contenido {
        @include m.grid(1, 1.6rem);

        @include m.tablet { 
            gap: 2.4rem;
        }

        @include m.desktop { 
            gap: 1.6rem;
        }
    }

    &__details {
        background-color: v.$snow;

        &[open] .acordion__summary::after {
            transform: rotate(180deg);
        }
    }

    &__summary {
        padding: 3.2rem 6rem 3.2rem 3.2rem;
        font-family: v.$fontHeading;
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: -0.8px;
        position: relative;
        user-select: none;

        @include m.tablet { 
            font-size: 2.4rem;
            line-height: 2.8rem;
            letter-spacing: -1.07px;
            padding-inline: 4rem;
        }

        &:hover {
            cursor: pointer;
            background-color: #FFF4DF;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 3.2rem;
            width: 1.6rem;
            height: .8rem;
            background-image: url(../img/chevron.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
            transition: transform .3s;
        }
    }

    &__texto {
        padding: 0 3.2rem 3.2rem 3.2rem;

        @include m.tablet { 
            padding-inline: 4rem;
        }
    }
}